sea_battle/static/css/asyncapi.min.css linguist-generated=true
sea_battle/static/css/global.min.css linguist-generated=true
sea_battle/static/js/asyncapi-ui.min.js linguist-generated=true
sea_battle/templates/index.html linguist-generated=true
